.container_network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    li {
        margin-left: 1vw;
    }

}

.border_left {
    border-left: 2px solid #ffbb33;
    padding-left: 1.5vw;
    
    

}